{% extends "blog/base.html" %}

{% block title %} Post List {% endblock %}

{% block content %}

    <h1> Post List: </h1>

    {% for post in page.object_list %}
        <h2><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h2>
        <p> Published {{ post.publish }} by {{ post.author }} </p>
        {% if post.tags.all %}
            <p>
                {% for tag in post.tags.all %}
                    <a href="{% url 'blog:post_list_by_tag' tag %}"> #{{ tag.name }} </a>
                {% endfor %}
            </p>
        {% endif %}
        <p> {{ post.body|truncatewords:30|linebreaks }} </p>
    {% endfor %}

    {% include "blog/pagination.html" %}

{% endblock %}
